

/*Navbar Header*/
#header_navbar {
	display: flex;
	align-items: center;
	background-image: url('../images/background-header.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
/*	padding-top: 35px;*/
/*	padding-bottom: 50px;*/
	background-position: center;
	position: relative;
	z-index: 1;
}

#header_navbar::after {
	content: "";
	clear: both;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

/*Header Container*/
.header_container {
	display: flex;
	align-items: center;
}

/*Header Logo Container*/
.header_logo {
	width: 300px;
}

/*Header Logo*/
.header_logo_header {
	width: 230px;
}

/*Header Search*/
.header_search {
	flex: 1;
	height: 45px;
	background-color: black;
}

/*Mobile: width: < 740px*/
@media all and (max-width: 739px) {

}

/*Tablet: width: >= 740 and < 1024px*/
@media all and (min-width: 740px) and (max-width: 1023px) {

}

/*PC: width: > 1024px*/
@media all and (max-width: 1024px) {

}

